@using Core.Convertors;
@using Services.DTOs.AdminPanel.Course.CourseEpisode;
@model List<ShowEpisodesForSeasonDto>

@if (!Model.Any())
{
    <tr>
        <td class="text-center pt-4 align-middle bg-transparent border-t dark:border-white/40 whitespace-nowrap shadow-transparent" colspan="5">هیچ موردی برای نمایش وجود ندارد.</td>
    </tr>
}
else if (Model.Any(ce => !ce.IsDelete))
{

    foreach (var item in Model)
    {
        <tr>
            <td class="p-2 text-right truncate align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <span class="text-xs font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400">@item.Title</span>
            </td>
            <td class="p-2 text-right truncate align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <span class="text-xs font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400">@item.CreateDate.MiladiToShamsi()</span>
            </td>
            <td class="p-2 text-right truncate align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <span class="text-xs font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400">@item.Time.ToString()</span>
            </td>
            <td class="p-2 text-right truncate align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <span class="text-sm font-semibold leading-tight dark:text-white dark:opacity-80">
                    @if (item.IsFree)
                    {
                        <i class="fa fa-check text-green-500"></i>
                    }
                    else
                    {
                        <i class="fa fa-close text-red-500"></i>
                    }
                </span>
            </td>
            <td class="p-2 py-32px align-middle flex justify-center bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <a asp-controller="ManageCourseEpisodes" asp-action="EditEpisodes" asp-route-episodeId="@item.EpisodeId" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400"> ویرایش </a>
                <form id="form-info" method="post" asp-controller="ManageCourseEpisodes" asp-action="DeleteEpisodes" asp-route-episodeId="@item.EpisodeId">
                    @Html.AntiForgeryToken()
                    <button type="button" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white mx-2 dark:opacity-80 text-slate-400"> حذف </button>
                </form>
            </td>
        </tr>
    }
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td class="p-2 text-right truncate align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <span class="text-xs font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400">@item.Title</span>
            </td>
            <td class="p-2 text-right truncate align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <span class="text-xs font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400">@item.CreateDate.MiladiToShamsi()</span>
            </td>
            <td class="p-2 text-right truncate align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <span class="text-xs font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400">@item.Time.ToString()</span>
            </td>
            <td class="p-2 text-right truncate align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <span class="text-sm font-semibold leading-tight dark:text-white dark:opacity-80">
                    @if (item.IsFree)
                    {
                        <i class="fa fa-check text-green-500"></i>
                    }
                    else
                    {
                        <i class="fa fa-close text-red-500"></i>
                    }
                </span>
            </td>
            <td class="p-2 py-32px align-middle flex justify-center bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <form id="form-info" method="post" asp-controller="ManageCourseEpisodes" asp-action="RestoreEpisodes" asp-route-episodeId="@item.EpisodeId">
                    @Html.AntiForgeryToken()
                    <button type="button" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white mx-2 dark:opacity-80 text-slate-400"> بازگردانی </button>
                </form>
            </td>
        </tr>
    }
}
<script asp-append-version="true" src="/AdminStyles/js/GetUrlForm.js"></script>