@using Core.Convertors
@using Core.Utilities;
@using Services.DTOs.AdminPanel.User;
@model GetUserInformationDto

<div id="Bg-Navbar-Black" class="z-[1001] overflow-hidden flex justify-center items-center w-full h-full fixed bg-black bg-opacity-50 top-0 right-0">
    <div id="notice" class="scale-up-center w-64 bg-slate-100 rounded-md p-2 overflow-y-scroll h-9/10 information-scroll">
        <!-- Header -->
        <div class="w-full py-2 h-24 flex justify-center items-center">
            <img src="/UserAvatar/@Model.UserAvatar" alt="Avatar" style="width:7rem;border-radius:100px;">
        </div>
        <!-- End Header -->
        <div class="w-full h-auto text-sm info">
            <h1 class="font-semibold text-lg text-center">@Model.UserName</h1>
            <p class="text-center mt-2"><span>شماره تلفن :</span> @Model.PhoneNumber</p>
            <p class="text-center mt-2"><span>موجودی کاربر :</span> @Model.Stock.ToToman()</p>
            <p class="text-center mt-2"><span>نام :</span> @((!Model.FirstName.HasValue()) ? "ندارد" : Model.FirstName)</p>
            <p class="text-center mt-2"><span>نام خانوادگی :</span> @((!Model.LastName.HasValue()) ? "ندارد" : Model.LastName)</p>
            <p class="text-center mt-2"><span>ایمیل :</span> @((!Model.Email.HasValue()) ? "ندارد" : Model.Email)</p>
            <p class="text-center mt-2"><span>تاریخ عضویت :</span> @Model.RegisterDate.MiladiToShamsi()</p>
            <p class="text-center mt-2"><span>شماره تلفن تایید شده ؟</span> @((Model.PhoneNumberConfirmed) ? "بله" : "خیر")</p>
            <p class="text-center mt-2"><span>ادرس سایت :</span> @((!Model.WebsiteAddress.HasValue()) ? "ندارد" : Model.WebsiteAddress)</p>
            <p class="text-center mt-2 biography"><span>بیوگرافی :</span> @((!Model.Biography.HasValue()) ? "ندارد" : Model.Biography)</p>
        </div>
        <div class="w-full h-12 flex justify-center items-end">
            <button id="ok" class="w-16 h-8 bg-indigo-700 text-slate-50 text-sm rounded-md" type="button">بستن</button>
        </div>
    </div>
</div>
<script asp-append-version="true" src="/AdminStyles/js/GetInformationAjax.js"></script>

