@using Services.DTOs.AdminPanel.Course.CourseGroup;
@model IEnumerable<ShowCourseGroupDto>


@if (!Model.Any())
{
    <tr>
        <td class="text-center pt-4 align-middle bg-transparent border-t dark:border-white/40 whitespace-nowrap shadow-transparent" colspan="4">هیچ موردی برای نمایش وجود ندارد.</td>
    </tr>
}
@if (Model.Any(cg => !cg.IsDelete))
{
    foreach (var item in Model)
    {
        <tr>
            <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <div class="flex px-2 py-1">
                    <div class="flex flex-col justify-center">
                        <h6 class="mb-0 text-sm leading-normal dark:text-white">@item.Title</h6>
                    </div>
                </div>
            </td>
            <td class="p-2 py-20px align-middle flex justify-center bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <a asp-controller="ManageCourseGroups" asp-action="EditGroup" asp-route-groupId="@item.GroupId" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400"> ویرایش </a>
                <form id="form-info" method="post" asp-controller="ManageCourseGroups" asp-action="DeleteCourseGroup" asp-route-groupId="@item.GroupId" asp-route-parentId="@item.SubGroupId">
                    @Html.AntiForgeryToken()
                    <button type="button" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white mx-2 dark:opacity-80 text-slate-400"> حذف </button>
                </form>
                <a asp-controller="ManageCourseGroups" asp-action="ShowSubGroups" asp-route-parentId="@item.GroupId" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400"> زیرگروه ها </a>
            </td>
        </tr>
    }
}
else
{
    foreach (var item in Model)
    {
        <tr>
            <td class="p-2 align-middle bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <div class="flex px-2 py-1">
                    <div class="flex flex-col justify-center">
                        <h6 class="mb-0 text-sm leading-normal dark:text-white">@item.Title</h6>
                    </div>
                </div>
            </td>
            <td class="p-2 py-20px align-middle flex justify-center bg-transparent border-b dark:border-white/40 whitespace-nowrap shadow-transparent">
                <form id="form-info" method="post" asp-controller="ManageCourseGroups" asp-action="RestoreCourseGroup" asp-route-groupId="@item.GroupId" asp-route-parentId="@item.SubGroupId">
                    @Html.AntiForgeryToken()
                    <button type="button" class="text-xs rounded-lg py-2 px-4 bg-slate-100 font-semibold leading-tight dark:text-white dark:opacity-80 text-slate-400"> بازگردانی </button>
                </form>
            </td>
        </tr>
    }
}

<script asp-append-version="true" src="/AdminStyles/js/GetUrlForm.js"></script>



